<!DOCTYPE html>
<html lang="es">

<body>
    {% extends 'core/base.html' %}
    {% block title %}ABOUT {% endblock %}
    {% block content %}
        <h1 style="font-family: sans-serif; font-size: 200%; font-style: italic;"> 
            Somos los estudiantes: <br><br>
            -Delgado Pico Julian Ricardo<br>
            -Roberto Daniel Serrano Bazurto<br><br>
            Hicimos este proyecto en base a lo aprendido en las clases <br>
            además de apoyarnos en diferentes paginas y videos de Internet.<br><br>
            Nuestro proyecto es una tienda virtual de Autos los cuales <br>
            solo los pueden comprar usuarios atentificados.<br><br>
            Para ello hemos desarrollado una pagina de revistro de <br>
            usuario, de inicio de sesión y cierre de sesión, <br>
            además los usuarios pueden eliminar sus cuentas, o editar <br>
            información de si mismos.
        </h1>

    {% endblock %}
</body>
</html>